<section class="article-list wrap">
<% page.posts.each(function (post, index) { %>
	<article class="article-item">
		<div class="article-inner">
			<% if(theme.banner[index]) {%>	
			<div class="article-cover lazy-bg blur"
			style="background-image: url(<%= String(theme.banner[(Number(page.current) -1)*6 + index].url) + '?imageView2/2/w/64/h/200/format/jpg/q/50' %>)"
			data-lazy="<%= String(theme.banner[(Number(page.current) -1)*6 + index].url) + '?imageView2/0/format/jpg/q/100' %>">
			</div>
			<% } else {%>
				<div class="article-cover"></div>
			<% } %>
			<a href="/<% url_for(post.path) %><%- post.path %>">
				<h3 class="article-title"><%= post.title %></h3>
				<div class="article-info">
					<p class="article-time"><%= post.date.format("DD") %> <%= post.date.format("MMM") %> <%= post.date.format("YYYY") %></p>
					<ul class="tag">
						<% post.tags.forEach(function(i) { %>
							<li><%= i.name%></li>
						<% }) %>
					</ul>
				</div>
			</a>
		</div>
	</article>
<% }) %>
</section>

<%- partial('_partial/pagination') %>