<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
	<%- partial('_partial/header') %>
    <main id="pjax-container">
        <%- body %>
	</main>
<%- partial('_partial/footer.ejs')%>

<!-- jQuery -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<!-- jQuery -->

<!-- 代码高亮 -->
<%- js('js/hl.js') %>
<script type="text/javascript">
    hljs.initHighlightingOnLoad();
</script>
<!-- 代码高亮 -->

<!-- pjax -->
<script src="https://cdn.bootcss.com/jquery.pjax/2.0.1/jquery.pjax.min.js"></script>
<!-- pjax -->
<%- js('js/main.js') %>

<% if(theme.baidu_src) { %>
<!-- 百度统计 -->
<script>
	var _hmt = _hmt || [];
	(function() {
		var hm = document.createElement("script")
		hm.src = "<%= theme.baidu_src %>"
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s)
	})()
</script>
<!-- 百度统计 -->
<% } %>



</body>
</html>