<article class="article-content">
	<div class="banner-inner-box">
		<div class="article-banner lazy-bg blur" 
		style="background-image: url(<%- page.photos %>?imageView2/2/w/64/h/200/format/jpg/q/50)"
		data-lazy="<%- page.photos %>?imageView2/0/format/jpg/q/100">
		<div class="cover"></div>
		</div>
		<div class="wrap">
			<h1 class="article-title"><%- page.title %></h1>
			<% if (page.tags) {%>
			<div class="article-info">
				<p class="article-time"><%= page.date.format("DD") %> <%= page.date.format("MMM") %> <%= page.date.format("YYYY") %></p>
				<ul class="tag">
					<% page.tags.forEach(function(i) { %>
						<li class="post-tags-item">
							<a href=""><%= i.name %></a>
						</li>
					<% }) %>
				</ul>
			</div>
			<% } %>
		</div>
	</div>
	<div class="article-wrap">
		<div class="markdown-body">
			<%- page.content %>
		</div>
		<p class="updated-time">Last updated <%= page.updated.format("MMM") %>, <%= page.updated.format("YYYY") %></p>
	</div>
</article>

<%- partial('_partial/read-next.ejs') %>

<%- partial('_partial/disqus.ejs') %>